.footer{
  color: #fff;
  padding-bottom: space(8);

  &__contact{
    width: percentage(1430 / 1920);
    min-height: 140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #D8AB2C;
    transform: translateY(-50%);
    @include down(1200) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
    @include down(400) {
      width: 100%;
    }
    & p{
      font-family: $f-b;
      font-weight: 600;
      font-size: em(26, 16);
      line-height: 1;
      @include down(1200) {
        text-align: center;
        margin-bottom: space(2);
      }
      small {
        font-family: $f-a;
        font-weight: 400;
        font-size: em(16, 26);
      }
    }
    .contact__link{
      @extend %link;
      color: #fff;
    }
  }

  &__container{
    width: percentage(1430 / 1920);
    display: flex;
    justify-content: space-between;
    @include down(700) {
      flex-direction: column;
    }

    & p{
      margin-bottom: space(2);
    }
  }

  & h2 {
    @extend %subtitle;
    margin-bottom: space(4);
  }

  .about{
    width: percentage(560 / 1430);
    // min-width: 300px;
    @include down(400) {
      width: 100%;
    }
  }
}