.grid{
  width: percentage(1430 / 1920);
  margin: 0 auto;


  @supports(display: grid) {
    height: 610px;
    display: grid;
    grid-template-columns: 65% auto;
    grid-template-areas:
    " big small"
    " big small_2";
    grid-gap: space(2);

    @include down(1024) {
      grid-template-columns: 1fr;
      grid-template-areas:
    " big "
    " small"
    "small_2";
    }
  }

  @include down(700) {
    width: 100%;
  }

  .grid__el{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 600px;
    margin-bottom: space(2);
    overflow: hidden;

    @supports(display: grid) {
      height: auto;
      margin-bottom: 0;
    }

    &:hover > div{
      box-shadow: inset 0px -150px 83px -71px rgba(0,0,0,0.35);
    }
    &:hover > div h3, &:hover > div p{
      opacity: 1;
      transform: translateY(0px);
    }

    & > div{
      color:#fff;
      padding: space(5);
      transition: box-shadow .3s ease-in-out;
      // background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.48) -5.41%, rgba(0, 0, 0, 0) 95.67%);
      box-shadow: inset 0px -89px 63px -61px rgba(0,0,0,.75);
      * {
        max-width: 400px;
      }

      h3{
        @extend %subtitle;
        margin-bottom: space(1);
        opacity: 1;
        transform: translateY(70px);
        transition: opacity .3s ease-in-out, transform .3s ease-in-out ;
      }

      & p{
        padding: space(1);
        border-left: 2px solid $color2;
        opacity: 0;
        transform: translateY(70px);
        transition: opacity .3s ease-in-out, transform .3s ease-in-out ;
      }
    }
  }

  .grid__el:nth-child(1){
    grid-area: big;
  }
  .grid__el:nth-child(2){
    grid-area: small;
  }
  .grid__el:nth-child(3){
    grid-area: small_2;
  }

}